.row {
	text-align: center;
	max-width: 100%;height:auto;
}
#banner {
	max-width:100%;height:auto;
}
.col-sm-2 {
	text-align: center;
	margin: auto;
}
.col-sm-12 {
	text-align:center
}
.img {
	max-width:100%;
	height:150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.smallimg {
	max-width:100%;
	height:50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.col-sm-4 {
	text-align:center
}
.col-sm {
	text-align:center
}

.nav-link {
	color: white;
}

.responsive {
  width: 100%;
  height: auto;
}
.navbar-brand {
	color: orange;
}

.navbar-brand:hover {
	color: orange;
}

.email {
	color: orange;
}

.email:hover {
	color: black;
}

.btn {
	margin: 10px;
	background-color: orange;
	border: 1px solid grey;
}

.btn:hover {
	color: black;
	background-color: darkorange;
	transition: all 1s;
	
}
.navbar-toggler-icon {
	color: -internal-white-black;
}

#tutustu {
	margin-top: 34px;
}

h1, h2, h3, h4, h5, h5 {
	color: orange;
}

#list {
	text-align: left;
}