body {
	background-color: rgb(96, 96, 96);
		color: rgb(0, 0, 0);

}

h1 {
	border-style: solid;

}

p {
	border-style: solid;
	border-radius: 15px;
	background-color: rgb(128, 128, 128);
	width: 200px;
	padding: 20px;
	margin-left: 0px;
	margin-bottom: 16px;
}

figure {
	margin: 0px;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 40px;
	
}
